body{
    margin:0px;
    margin-top: 0px;
    padding: 0px;
    background-color: black;
}

.navbar li{
	padding:14px 26px;
	list-style-type:none;
	}

.navbar{
	border-radius:inherit;
	width:100%;
	}

.sec1{
    margin-top: 0px;
    background-image: url(bg1.jpg);
    background-attachment: fixed;
    height:100%;
    }

.left{
    font-family: 'Loves';
    float:left;
    width: 50%;
    height: 100%;
    animation: slideInL 1.5s;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left;
}

.right{
    font-weight: 500;
    color:slategray;
    padding-right: 50px;
    text-align: right;
    animation: fadeIn 1.5s;
}

.right animate{
    
}

.left animate{
    
}

.right h1{
    font-family: 'Saira', sans-serif;
}

.right h2{
    font-family: 'Titillium Web', sans-serif;
}

.buttons p{
        font-family:  'Titillium Web', sans-serif;
    font-weight: 500;
        white-space: nowrap;
    background-color: crimson;
    border-style: none;
}

#secdiv2{
    width:100%;
    height:75px;
    background-color: black
}

.sec2{
    background-image: url(bg2.png);
    background-attachment: fixed;
    height:100%
}

#secdiv3{
    width:100%;
    height:75px;
    background-color: black
}

.sec3{
    background-color:#333;
    height:100%;
    width:100%;
    margin-top: 0px;
}

.sec3 h1{
    font-family:  'Titillium Web', sans-serif;
    color:#fff;
    font-size:80px;
    
}
.buttonhome{
    padding: 15px;
    background-color: aliceblue;
    font-size: 2em;
    border-style: dashed;
    
}

H5{
    font-family:  'Titillium Web', sans-serif;
    font-size:40px;
    font-weight: 500;
    color:aliceblue;
}

h6{
    font-family:  'Titillium Web', sans-serif;
    font-size:55px;
    font-weight: 500;
    color:#b8daf8;
}

.sec3 h1{
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    font-size: 55px;
    font-weight:500;
    
}

.modal-body p{
    color:aliceblue;
}
@font-face {
    font-family: Loves;
    src: url(loves/LOVES.ttf);
}
#dwnld {
	color: #fff
}


@keyframes slideInL{
    from{width:0px;} to{width:50%;}
}
@keyframes typing{from{width: 0}to{width: 100%}}
@-webkit-keyframes typing{from{width: 0}to{width: 100%}}
@keyframes fadeIn{
    from{opacity:0;} to{opacity:100;}
}
@keyframes Rotation 
0%{transform: rotate(0deg);}100% {transform: rotate(360deg);}
@keyframes fromtop{from{margin-top: -300px;opacity: 0}to{margin-top: 0px;opacity: 1}}
@-webkit-keyframes fromtop{from{margin-top: -300px;opacity: 0}to{margin-top: 0px;opacity: 1}}
